<div class="padding-top-40 blue-tint-bg" style="padding-top: 60px;">
	<div class="background-landing-page">
	</div>
	<div class="container">
		<div class="row">
			<div class="col s6 saltie-white saltie-small" style="opacity: .4;">
				Saltie Cruise Concierge
			</div>
		</div>
		<div class="row">
			<div style="line-height: 35px; font-size: 30px;" class="col s12 saltie-white saltie-large saltie-weight-100">
				Our Cruise Concierge helps you find the perfect cruise.
			</div>
		</div>
		<div class="row">
			<img style="width: 60%; margin: auto; display: block;" src="../../../../theme/imgs/landingpage.png" click="begin()">
		</div>
<!-- 		<div class="row">
			<saltie-button-mlarge (click)="begin()" class="saltie-weight-100">
				Begin
			</saltie-button-mlarge>
		</div> -->
	</div>
	<div class="saltie-footer-button saltie-medium saltie-weight-100" (click)="begin()">
			Begin
		</div>
</div>