<div class="container saltie-algorithms">
    <div class="row saltie-small saltie-weight-500">
        Cruise Concierge / How The Algorithm Works
    </div>
    <div class="row saltie-large saltie-weight-100">
        How the Algorithm Works
    </div>
    <div class="row saltie-smedium saltie-weight-100" style="line-height: 20px; margin-top: 25px;">
        Our team of machine learning experts analyzed tens of thousands of reviews by cruisers like you to rate every single ship and every single port on 200+ categories, from Atmosphere to Zumba classes! By answering our visual questionnaire, you help us find the cruises that best match your current desires. The more questions you answer, the more confident we are in the percentage match. If you answer all questions and we find a cruise that is highly rated for every single one of your stated preferences, it will be close to a 100% match. if you answer only some of the questions and we find a cruise that is highly rated for every single one of your stated preferences, the percentage match will be lower because we are uncertain about your other preferences. Voila! Now it's time to play!
    </div>
</div>