div.saltie-email-title {
	margin-top: 120px;
}

div.saltie-email-cruise {
	position: fixed;
    background: $color-blue-dark-tint;
    height: 120%;
    width: 100%;
    top: 0px;
    z-index: 10000;
    padding: 0px 40px;
    text-align: center;
}