<div class="saltie-email-cruise saltie-white" *ngIf="show">
	<div class="saltie-close" (click)="show = false; state = 0; hide.emit(null);">
		<img src="../../../../theme/imgs/icon-X.svg" style="height: 40px;">
	</div>
	<div *ngIf="state === 0">
		<div style="margin-top: 90px;" class="saltie-email-title" class="saltie-weight-200 saltie-medium">
			Want an email summary about this cruise? {{tripId}}
		</div>
		<div class="saltie-email-submit">
			<span class="saltie-weight-200 saltie-small" style="float: left; margin-bottom: 10px; margin-top: 15px;">EMAIL ADDRESS</span>
			<input style="width: 100%; margin: 10px auto;" class="saltie-textbox" type="textbox" (keyup)="email = $event.target.value">
			<button (click)="emailFavorites()" style="width: 100%; margin-top: 10px;" class="saltie-button">Submit</button>
		</div>
		<div class="saltie-weight-200 saltie-smedium" style="margin-top: 40px;">
			or ...
		</div>
		<div style="margin: 20px auto;">
			<button class="saltie-button-o" style="width: 100%">
				Contact a Travel Agent
			</button>
		</div>
		<div>
			<button class="saltie-button-o" style="width: 100%" (click)="download()">
				Download the Saltie App
				<span class="saltie-button-o-sub">
					The best way to find cruises.
				</span>
			</button>
		</div>
		<div style="margin-top: 40px;" class="saltie-weight-200 saltie-medium">
			Share this Cruise:

				<div class="fb-share-button" [attr.data-href]="tripLink" data-layout="button" data-size="large" data-mobile-iframe="true">
				<a class="fb-xfbml-parse-ignore st_facebook_custom fa fa-facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2FSaltieCruises&amp;src=sdkpreparse" onclick="javascript:window.open(this.href, '', 'menubar=no, toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"></a></div>

				<a href="https://twitter.com/share?url=https://www.facebook.com/SaltieCruises&text=I answered a few questions and Saltie told me my ideal cruise. Find yours!&via=SaltieCruises" class="twitter-share-button st_twitter_custom fa fa-twitter" onclick="javascript:window.open(this.href, '', 'menubar=no, toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"></a>

				<a class="email-share-button st_email_custom fa fa-envelope-o" href="mailto:?subject=Saltie Cruises&amp;body=I answered a few questions and saltie told me my idea cruise. Find yours! https://www.facebook.com/SaltieCruises via @SaltieCruises"></a>
		</div>
	</div>
	<div *ngIf="state === 1">
		<div style="margin-top: 60px; width: 253px;" class="saltie-email-title" class="saltie-weight-200 saltie-medium">
			Your email is on its way! Want even more info?
		</div>
		<div>
			<img src="./img-saltie-phone.jpg" style="height: 450px;">
		</div>
		<div style="position: relative; top: -235px; height: 240px; background: rgba(7, 40, 49, 0.85);">
			<button (click)="download()" style="width: 100%; padding: 10px 25px;" class="saltie-button saltie-lmedium">Download & Explore Saltie</button>
			<div>
				<img style="float: left; margin-top: 30px; margin-left: 15px; height: 72px;" src="./saltie-logo.png">
				<ul style="float: right; text-align: left; margin-top: 29px; margin-right: 15px; font-size: 17px;" class="saltie-weight-200 saltie-smedium">
					<li><span class="period-list">.</span>Explore this Cruise</li>
					<li><span class="period-list">.</span>Pick your Cabin</li>
					<li><span class="period-list">.</span>Plan your Trip</li>
					<li><span class="period-list">.</span>Share it with Friends</li>
				</ul>
			</div>
		</div>
	</div>
</div>